# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/

# Firebase / GoogleService
GoogleService-Info.plist

# Secrets / API keys
*.env
*.xcconfig

# Output / Logs
*.log

# App Archives
*.xcarchive

# Simulator / Preview cache
.idea/
*.orig
*.swp

# SwiftPM binary caches
.build/


